.top{
    background-color: black;
    opacity: 90%;
}

a{
    color: white;
}

.logo{
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#carouselExampleSlidesOnly{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 110px;
}

a{
    font-family: 'Roboto', sans-serif;
  
}

.bottom{
    background-color: black;
    opacity: 90%;
    text-align: center;
    color: white; 
    font-family: 'Noto Sans TC', sans-serif;  
}



.contact{
    border:solid;
    border-width: 1px;
   padding-top: 25px;
   padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left:25px;
    padding-right: 25px;
    width:750px;
    height:auto;
    background-color: black;
    opacity: 90%;
    font: white;
    font-family: 'Noto Sans TC', sans-serif; 
    margin-bottom: 50px;  
}

.images{
    width: 948px;
    margin:0 auto;
    font-size: 0;
}

.images a{
    margin:8px;
    display: inline-block;
    background-color: white;
}

.aboutme{
 width: 1000px;
     margin-left: auto;
    margin-right: auto;
    padding-top: 55px; 
    margin-bottom: 50px;
}

.myphoto{
    float: left;
}

p{
    float: right;
    text-align: justify;
    width:400px;
    font-family: 'Noto Sans TC', sans-serif;
    opacity: 75%;
}

h2{
    font-family: 'Noto Sans TC', sans-serif;
    opacity:75%;
    text-align: center;
}

hr{
    style: solid;
    background-color: black;
    height: 4px;
    opacity:10%;
}

.divide{
    width:1000px;
    margin-right:auto;
    margin-left: auto;

}

#carouselExampleSlidesOnlyTwo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 110px;
}

button{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
}

label{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

