.top{
    background-color: black;
    opacity: 90%;
}

a{
    color: white;
}

.logo{
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#carouselExampleSlidesOnly{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 110px;
}

a{
    font-family: 'Noto Sans TC', sans-serif;
}

.bottom{
    background-color: black;
    opacity: 90%;
    text-align: center;
    color: white; 
    font-family: 'Noto Sans TC', sans-serif;   
}

.contact{
    border:solid;
    border-width: 1px;
   padding-top: 25px;
   padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left:25px;
    padding-right: 25px;
    width:750px;
    height:auto;
    background-color: black;
    opacity: 90%;
    font: white;
    font-family: 'Noto Sans TC', sans-serif; 
    margin-bottom: 50px;  
}

.images{
    width: 948px;
    margin:0 auto;
    font-size: 0;
    background-image: url(path/to/image/to/be/watermarked.png);
}

.images a{
    margin:8px;
    display: inline-block;
    background-color: white;
}

.aboutme{
 width: 1000px;
     margin-left: auto;
    margin-right: auto;
    margin-top: 55px;  
   
}

.myphoto{
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 margin-bottom: 15px;
 width: 600px;
}

p{
    margin-left:auto;
    margin-right:auto;
    text-align: justify;
    width:600px;
    font-family: 'Noto Sans TC', sans-serif;
    opacity: 75%;
}

h2{
    font-family: 'Noto Sans TC', sans-serif;
    opacity:75%;
    text-align: center;
}

hr{
    background-color: black;
    height: 1px;
    opacity:10%;
}

.divide{
    width:1000px;
    margin-right:auto;
    margin-left: auto;
}

.btn-sm{
    margin-top:20px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom:20px;
 
}

label{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

.events{
    margin-bottom: 50px;
}

.insta
{
    float: left;
    margin-right:7px;
}

.button{
 text-align: center;
}
